{% extends 'layout.html' %}
{% block content %}
    <section id="articles">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Latest Articles</h2>
                <hr/>
            {% for post in posts %}
                <h4>{{ post.title }}</h4>
                <small class="text-muted" >Posted by {{ post.author.username }} on {{ post.date_posted }}</small>
                <hr/>
                <p>{{ post.content }}</p>
                <hr/>
            {% endfor %}
            </div>
        </div>
        </div>
    </section>
{% endblock %}