{% extends 'layout.html' %}
{% block content %}
    <section id="articles">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto p-5">
                <h4>Latest Articles</h4>
                <hr/>
            {% for post in posts %}
                <h6 class="font-weight-bold">{{ post.title }}</h6>
                <small class="text-muted" >Posted by {{ post.author.username }} on {{ post.date_posted }}</small>
                <p>{{ post.content }}</p>
                <hr/>
            {% endfor %}
            </div>
        </div>
        </div>
    </section>
{% endblock %}