{% extends 'layout.html' %}
{% block content %}
    <header class="bg-light">
        <div class="container text-center">
        <h1 class="font-weight-bold">Import error</h1>
        <h5>This is an <strong>example</strong> of <strong>introduction</strong>.</h5>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h4 class="font-weight-bold">Services</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, 
                        doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                    <div class="col bg-light pt-3 pb-3">
                        <h6 class="font-weight-bold">Project Management</h6>
                            <ul class="text-muted">
                                <li>Clickable nav links that smooth scroll to page sections</li>
                                <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                                <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                                <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                            </ul>
                        <h6 class="font-weight-bold">NetDevOps</h6>
                            <ul class="text-muted">
                                <li>Clickable nav links that smooth scroll to page sections</li>
                                <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                                <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                                <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                            </ul>
                        <h6 class="font-weight-bold">Training</h6>
                            <ul class="text-muted">
                                <li>Clickable nav links that smooth scroll to page sections</li>
                                <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                                <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                                <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                            </ul>
                        <h6 class="font-weight-bold">Consultancy</h6>
                            <ul class="text-muted">
                                <li>Clickable nav links that smooth scroll to page sections</li>
                                <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                                <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                                <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="articles" class="bg-light">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h4 class="font-weight-bold">Latest Articles</h4>
            {% for post in posts %}
                <h4>{{ post.title }}</h4>
                <small class="text-muted" >Posted by {{ post.author.username }} on {{ post.date_posted }}</small>
                <hr/>
                <p>{{ post.content }}</p>
                <hr/>
            {% endfor %}
            </div>
        </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            <h4 class="font-weight-bold">About this page</h4>
            <p class="text-muted">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
            <ul class="text-muted">
                <li>Clickable nav links that smooth scroll to page sections</li>
                <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                <li>Minimal custom CSS so you are free to explore your own unique design options</li>
            </ul>
            </div>
        </div>
        </div>
    </section>

    <section id="contact" class="bg-light">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h4 class="font-weight-bold text-center">Get in touch</h4>
                    <address class="text-muted text-center">
                        <strong>Vireak Ouk</strong><br />
                        Phnom Penh, Cambodia<br />
                        Email: <a class="text-muted" href="mailto:vireak.ouk@gmail.com">vireak.ouk@gmail.com</a><br />
                        WhatsAPP or Telegram: +855 89 777 939
                    </address>
                </div>
        </div>
        </div>
    </section>
{% endblock content %}