{% extends 'layout.html' %}
{% block content %}
    <section>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% if post.title %}
                <h3>Edit Post</h3>
                {% else %}
                <h3>Create new blog post here.</h3>
                {% endif %}
                <form method="POST" action="">
                    {% include 'flash.html' %}
                    <div class="form-group">
                        <label for="username">Title</label>
                        {% if post.title %}
                        <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" value="{{ post.title }}">
                        {% else %}
                        <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Give your post a short title.">
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea name="content" class="form-control" id="content" rows="8">{{ post.content }}</textarea>
                    </div>
                    <div>
                      <button type="submit" value="post" class="btn btn-primary">Post!</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </section>
{% endblock %}