{% extends 'layout.html' %}
{% block content %}
    <section id="articles">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto m-5 p-4">
                {% include 'flash.html' %}
                <h4>{{ post.title }}</h4>
                <small class="text-muted" >Posted by {{ post.author.username }} on {{ post.date_posted.strftime("%A, %d %B %Y %I:%M%p") }}</small>
                <hr/>
                <p>{{ post.content }}</p>
            </div>
        </div>
        </div>
    </section>
    <section id="comments" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {% for comment in comments %}
                    <small class="text-muted" >{{ comment.author.username }} on {{ comment.date_posted.strftime("%A, %d %B %Y %I:%M%p") }} said:</small>
                    <p>{{ comment.comment }}</p>
                    <hr/>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {% if user_loggedin %}
                    <h6>Leave a reply</h6>
                    {% include 'flash.html' %}
                    <form method="POST" action="">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.comment(class="form-control", rows="2")}}
                        </div>
                        <div>
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                    {% else %}
                    <h6><a href="{{ url_for('users.Login') }}">Login to leave a reply!</a></h6>
                    </hr>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}